* {
    margin: 0;
    font-family: "Open Sans", sans-serif;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.header {
    background-color: #fff8f3;
    background-image: url("/resorces/images/header_bg.png"), url(/resorces/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.text-primary {
    color: orangered;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

.btn-primary {
    background-color: orangered;
    border-radius: 8px;
    outline: none;
    color: beige;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 18px 35px;
}

.btn-primary i{
    margin-left: 10px;
}

.btn-Secondary {
    border: solid orangered 1px;
    border-radius: 8px;
    outline: none;
    color: orangered;
    font-size: 16px;
    font-weight: 700;
    padding: 18px 35px;
    margin-left: 20px;
}

/* Banner */

.banner {
    margin: 0px 150px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-size: 35px;
    margin: 20px 0;
}

.banner-sub-title {
    color: gray;
}

.banner-btn {
    margin: 50px 0;
}

/* Main Section */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About Section */

.about {
    margin-top: 130px;
    text-align: center;
    background-color: #fff8f3;
    padding: 130px 150px;

}

.section-des {
    margin: 30px;
    color: gray;

}

/* Table Section */

.data {
    display: flex;
    justify-content: space-around;
}

/* i do section */
.i-do {
    margin-top: 130px;
    padding: 0 150px;


}

.do-title {
    text-align: center;
}


.do-des {
    margin: 30px;
    color: gray;

    text-align: center;

}

/* Skill Section */

.skills-container {
    display: flex;
    gap: 24px;

}

.skill-title {
    font-weight: 700;
    margin: 10px 0;
}

.skill {
    padding: 10px;
    background: #fff8f3;
    box-shadow: 2px 2px rgb(142, 142, 142);
    border-radius: 5px;

}

/* Resume Section */
.resume {
    padding: 130px 150px;
}

.Summary {
    display: flex;
    gap: 24px;
    margin-bottom: 30px;
}

.sum-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.title {
    margin-top: 50px;

}


.location {
    margin: 10px 0;
}

.ex-name {
    margin: 20px 0;
    border-bottom: 1px solid gray;
}

.ex-des {
    margin-bottom: 15px;
}


.exp-name {
    margin: 20px 0;
    border-bottom: 1px solid gray;
}

.exp-des {
    margin-bottom: 15px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.btn-cv {
    background-color: orangered;
    border-radius: 8px;
    outline: none;
    color: beige;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 18px 35px;
}

.btn-cv i{
    margin-left: 10px;
}

/* Footer Section */

.footer{
    max-width: 1140px;
    margin: 0 auto;
}

.Contact{
    background-color: #fff8f3;
    padding: 130px 150px;
    display: flex;
    justify-content: space-between;
    gap: 24px;

    
}

.message-container{

}

.field{
    margin: 20px 0;
    height: 50px;
    width: 100%;
    border: 0;
    padding-left: 18px 30px;
}

#textarea{
 height: 100px;
}

.copyright{
    font-weight: bold;
    font-style: italic;
    display: flex;
    margin: 50px 0;
    justify-content: center;
    color: crimson;
    font-style: none;
}

.connect-title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.message-title{
    font-size: 20px;
    font-weight: bold;
}

.image{
    margin-top: 10px;
}

.btn-submit{
    background-color: orangered;
    border-radius: 8px;
    outline: none;
    color: beige;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 18px 35px;
}